---
export async function getStaticPaths() {
  const locales = ["en", "de"];

  return locales.map((locale) => ({
    params: { locale },
  }));
}

import "../../styles/global.css";
import Nav from "../../components/nav.astro";
import MapC from "../../components/map.astro";
import ClassC from "../../components/class.astro";
import type { Class } from "../../../cms/src/payload-types.ts";
import { collect, payload, sortWeekdays, translateWeekday } from "../../utils";
import RichText from "../../components/richtText.astro";
import Layout from "../../components/layout.astro";

interface Params {
  locale: "en" | "de";
}
const { locale } = Astro.params as Params;

const { docs: classes } = await payload.find({
  collection: "classes",
  locale: locale,
});

const cnt = await payload.findGlobal({
  slug: "about",
  locale: locale,
});
---

<Layout locale={locale}>
  <h2>
    {cnt.title}
  </h2>
  <div class="page-content">
    <RichText content={cnt.content} />
  </div>
</Layout>
