---
import '../../styles/global.css'
import { payload } from "../../utils";
import Nav from '../../components/nav.astro'
import MapC from '../../components/map.astro'
import type { School } from '../../../cms/payload-types';

export async function getStaticPaths() {
  const locales = ["en", "de"];
  return locales.map((locale) => ({
    params: { locale },
  }));
}

interface Params { locale: "en" | "de"; }
const { locale } = Astro.params as Params;

const { docs: classes } = await payload.find({
  collection: "classes",
  locale: locale,
});

const events = classes.map(clazz => {
  const school = clazz.school as School
  const [loc, num, adr, quart] = clazz.address.split(",")
  const address = [loc,adr,num,quart].join(",")


  return {
    title: clazz.title,
    weekday: clazz.weekday, 
    address: address,
    fullAddress: clazz.address,
    school: school.name,
    coordinates: [clazz.location[1], clazz.location[0]] 
  };
});
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map | Swing in Hamburg</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  </head>
  <body>

    <div class="page-container">
      <Nav locale={locale} active="map"></Nav>
      <div class="divider-light"></div>
      <MapC locale={locale}></Map>

    </div>
  </body>
</html>