<nav>
    <a href="#" class="nav-item active">LISTINGS</a>
    <span>|</span>
    <a href="#" class="nav-item">MAP</a>
    <span>|</span>
    <a href="#" class="nav-item">ABOUT</a>
    <span>|</span>
    <a href="#" class="nav-item">LISTINGS POLICY</a>
</nav>