---
interface Params {
    locale: "de" | "en",
    active: "root" | "map" | "about" | "listings"
}

const {locale, active} = Astro.props as Params;
const c = (comp:string) => {
    if (comp == active) {
        return "nav-item active"
    } else {
        return "nav-item"
    }
}

const otherLocale = locale == "en"? "de" : "en"
---
<nav>
    <a href={"/" + locale} class={c("root")}>LISTINGS</a>
    <span>|</span>
    <a href={"/" + locale + "/map"} class={c("map")}>MAP</a>
    <span>|</span>
    <a href={"/" + locale + "/about"} class={c("about")}>ABOUT</a>
    <span>|</span>
    <a class="" href={"/" + otherLocale + "/" + (active||"")}>{otherLocale.toUpperCase()}</a>
</nav>