---
interface Params {
    locale: "de" | "en",
    active: "root" | "swing" | "about" | "map"
}

const {locale, active} = Astro.props as Params;
const c = (comp:string) => {
    return comp == active ? "nav-item active" : "nav-item"
}

const otherLocale = locale == "en"? "de" : "en"
const otherLocaleLink = Astro.url.pathname.replace(locale, otherLocale)
const links = {
    "listings": { "de": "KURSE | WORKSHOPS", "en": "CLASSES | WORKSHOPS" },
    "swing": { "de": "TANZSCHULEN", "en": "DANCE SCHOOLS" },
    "map": { "de": "KARTE", "en": "MAP" },
    "about": { "de": "GESCHICHTE", "en": "HISTORY" },
    "conduct": { "de": "CODE OF CONDUCT", "en": "CODE OF CONDUCT" }
}
---
<nav class="site-nav">
    <button class="menu-toggle" aria-label="Toggle navigation menu" aria-expanded="false">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
    </button>

    <div class="nav-links">
        <a href={"/" + locale} class={c("root") }>{links["listings"][locale]}</a>
        <span class="nav-separator">|</span>
        
        <a href={"/" + locale + "/swing"} class={c("swing")}>{links["swing"][locale]}</a>
        <span class="nav-separator">|</span>
        
        <a href={"/" + locale + "/map"} class={c("map")}>{links["map"][locale]}</a>
        <span class="nav-separator">|</span>
        
        <a href={"/" + locale + "/about"} class={c("about")}>{links["about"][locale]}</a>
        <span class="nav-separator">|</span>
        
        <a href={"/" + locale + "/conduct"} class="nav-item">{links["conduct"][locale]}</a>
        
        <a class="lang-switch" href={otherLocaleLink}>{otherLocale.toUpperCase()}</a>
    </div>
</nav>

<script>
    const menuToggle = document.querySelector('.menu-toggle');
    const navLinks = document.querySelector('.nav-links');

    if (menuToggle && navLinks) {
        menuToggle.addEventListener('click', () => {
            const isExpanded = menuToggle.getAttribute('aria-expanded') === 'true';
            menuToggle.setAttribute('aria-expanded', String(!isExpanded));
            
            // Toggles the visibility of the nav links
            navLinks.classList.toggle('open');
            // Toggles the hamburger to 'X' animation
            menuToggle.classList.toggle('active');
        });
    }
</script>